#grid-container {
  border: 2px solid black;
  padding: 20px;
  display: grid;
  height: 500px;

  grid-template-columns: repeat(2, 100px);
  grid-template-rows: 100px 100px 100px;
}
.grid-item {
border-radius: 5px;
  background-color: purple;
  color: white;
  text-align: center;
 border-radius: 5px;
}

  @media screen and (width >= 600px) {
  body {
    background-color: aqua;
  }
}
 